@{
    ViewBag.Title = "Register";
}

<link href="~/Styles/login.css" rel="stylesheet" />
<br />
<br />
<div class="container">
    <div class="card">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form action="~/Users/Register" method="post" autocomplete="off">
            <div class="msg-err ">
                @ViewBag.Error
            </div>
            <div class="msg-succ ">
                @ViewBag.Success
            </div>
            <input type="text" name="Us" class="form-control" placeholder="Usuario" required />
            <br />
            <input type="password" name="Pass" class="form-control" placeholder="Contraseña" required />
            <br />
            <select name="Rol_Id" class="form-control">
                <option value="1" class="ddl-item">Super administrador</option>
                <option value="2" class="ddl-item">Administrador de área</option>
                <option value="3" class="ddl-item">Empleado de área</option>
            </select>
            <br />
            <button type="submit" class="btn btn-primary btn-lg btn-block">Agregar</button>
        </form>
    </div>
</div>

