
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<link href="~/Styles/error.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

<div class="container">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>4<span></span>4</h1>
            </div>
            <h2><strong>Página no encontrada</strong></h2>
            <p>La página que estas buscando no está disponible</p>
            <a class="btn btn-primary btn-lg" href="~/" role="button">Regresar a inicio</a>
        </div>
    </div>
</div>
