@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}
<link href="~/Content/Login.css" rel="stylesheet" />
<br /><br />
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form action="~/Access/Login" method="post">
            <div class="alert-danger ">
                @ViewBag.Error
            </div>
            <input type="text" name="Us" class="form-control" placeholder="Usuario"/>
            <br />
            <input type="password" name="Pass" class="form-control" placeholder="Contraseña"/>
            <br />
            <input type="submit" class="btn-lg btn-block btn-success" value="Ingresar" />
        </form>
    </div>
</div>