
@{
    ViewBag.Title = "Register";
}

<link href="~/Content/Login.css" rel="stylesheet" />
<br />
<br />
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form action="~/Access/Register" method="post">
            <div class="alert-danger ">
                @ViewBag.Error
            </div>
            <div class="alert-success ">
                @ViewBag.Success
            </div>
            <input type="text" name="Us" class="form-control" placeholder="Usuario" required/>
            <br />
            <input type="password" name="Pass" class="form-control" placeholder="Contraseña" required/>
            <br />
            <select name="Rol_Id" class="dropdown">
                <option value="1">Super administrador</option>
                <option value="2">Administrador de área</option>
                <option value="3">Empleado de área</option>
            </select>
            <br />
            <input type="submit" class="btn btn-lg btn-block btn-success" value="Agregar" />
        </form>
    </div>
</div>

