.card {
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.card-text {
    color: rgba(0,0,0,.5);
}

.card:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

    .card:hover .card-title {
        color: #00b368;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .card:hover .card-text {
        color: rgba(0,0,0,.7);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.card-img-top {
    background: #e7fffa;
    padding: 15px;
    height: 60px;
    width: 60px;
    border-radius: 7px;
    margin: 0px auto;
}

.link {
    color: black;
    text-decoration: none;
}
