<link href="~/Styles/index.css" rel="stylesheet" />
<br />
<br />
<div class="container-fluid">
    <br />
    <h2><strong>Reportes</strong></h2>
    <br />
    <div class="row text-center">
        <div class="col-md-4">
            <a class="link" href="~/Employee/NewEvaluation">
                <div class="card btn" style="width: 35rem;">
                    <br />
                    <div class="card-img-top">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" fill="rgba(0,179,104,1)" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                            <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z" />
                        </svg>
                    </div>
                    <br />
                    <div class="card-body">
                        <h4 class="card-title"><strong>Reporte de evaluacion</strong></h4>
                    </div>
                    <br />
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <div class="card btn" style="width: 35rem;">
                <br />
                <div class="card-img-top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" fill="rgba(0,179,104,1)" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                        <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z" />
                    </svg>
                </div>
                <br />
                <div class="card-body">
                    <h4 class="card-title"><strong>Reporte de empleados</strong></h4>
                </div>
                <br />
            </div>
        </div>

    </div>

</div>
