
@{
    ViewBag.Title = "NewEvaluation";
}
<br />
<br />
<div class="container">
    <br />
    <h2><strong>Nueva evaluación</strong></h2>
    <br />
    <div class="row">
        <div class="card">
            <form action="~/Employee/NewEvaluation" method="post" autocomplete="off" class="form-horizontal">
                <div class="msg-err">
                    @ViewBag.Error
                </div>
                <div class="msg-succ ">
                    @ViewBag.Success
                </div>
                <br />
                <div class="form-group">
                    <label for="Name" class="col-sm-2 control-label">Nombre(s):</label>
                    <div class="col-sm-10">
                        <input type="text" id="Name" name="Name" class="form-control" placeholder="Nombre(s)" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Lastname" class="col-sm-2 control-label">Apellido(s):</label>
                    <div class="col-sm-10">
                        <input type="text" name="Lastname" class="form-control" placeholder="Apellido(s)" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Age" class="col-sm-2 control-label">Edad:</label>
                    <div class="col-sm-10">
                        <input type="number" name="Age" class="form-control" placeholder="Edad" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email" class="col-sm-2 control-label">Correo:</label>
                    <div class="col-sm-10">
                        <input type="email" name="Email" class="form-control" placeholder="example@example.com" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Phone" class="col-sm-2 control-label">Telefono:</label>
                    <div class="col-sm-10">
                        <input type="tel" name="Phone" class="form-control" placeholder="Telefono" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Address" class="col-sm-2 control-label">Dirección:</label>
                    <div class="col-sm-10">
                        <input type="text" name="Address" class="form-control" placeholder="Dirección" required />
                    </div>
                </div>
                <div class="col-md-offset-10">
                    <button type="submit" class="btn btn-primary btn-lg">Siguiente</button>
                </div>
            </form>
        </div>
    </div>
</div>